@font-face {
    font-family: "gurbaniakhar";
    src: url('./fonts/gurbaniakhar.ttf');
}

html, body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #efd991;
}

.search-panel {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 270px;
    overflow: hidden;
}

#search-results, #shabad-results {
    max-height: 150px;
    overflow: auto;
    font-family: gurbaniakhar;
}

.shabad .gurmukhi {
    font-family: gurbaniakhar;
    font-size: 67px;
    font-weight: bold;
    text-align: center;
    color: #271529;
}

.shabad .english {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.shabad .punjabi {
    font-family: gurbaniakhar;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #155354;
}