@font-face {
    font-family: "gurbaniakhar";
    src: url('./fonts/gurbaniakhar.ttf');
}

body {
    background: #efd991;
    width: 100%;
    height: 100%;
}

.search-panel {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 270px;
    overflow: hidden;
}

.fullheight {
    height: 100%;
}

.search-panel .tab-content {
    height: 238px;
    overflow-y: auto;
    overflow-x: hidden;
}

#search-results, #shabad-results {
    font-family: gurbaniakhar;
}

.shabad .gurmukhi {
    font-family: gurbaniakhar;
    /* font-size: 67px; */
    font-weight: bold;
    text-align: center;
    color: #271529;
    overflow: auto;
}

.shabad .english {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    overflow: auto;
}

.shabad .punjabi {
    font-family: gurbaniakhar;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #155354;
    overflow: auto;
}